

.fadeInToRight {
    opacity: 0;
    position: relative;
    /* left需要紧跟在relative声明下面 */
    left: -50px; 
   
    
    
}

.fadeInToLeft {
    opacity: 0;
    position: relative;
    /* left需要紧跟在relative声明下面 */
    Left: 50px; 
   
    
    
}

.fadeIn {
    opacity: 0;
}


.slideUp {
    position: relative;
    top: 50px; 
    opacity: 0;
    
    
}

.slideDown {
    position: relative;
    top: -50px; 
    opacity: 0;
    
    
}

.current {
    position:fixed;
    left: 500px;
}