
/* ========响应式自我介绍====================== */
.aboutMe {
    width: 100%;
    display: inline-block;
}

.selfie {
    width: 30%;
    display: inline-block;
    top: 0px;
    vertical-align: middle;
}

.introduction {
    padding-left: 5%;
    width: 64%;
    display: inline-block;
    vertical-align: top;
}

.References {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .aboutMe {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .selfie {
        position: relative;
        width: 40%;
        text-align: center;
        margin: 0,auto;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding-bottom: 30px;
    }
    .introduction {
        width: 100%;
        padding: 0%;
        text-align: left;
    }
    .References {
        width: 100%;
        padding-right: 0%;
    }
}


