

.footer {
    position: fixed;
    left: px;
    bottom: 30;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9999;
}

.list {
    height: 30;
    font-family: Helvetica, Arial,sans-serif;
}

.list-all {
    padding-top:  100px; 
}

a:link, a:visited {
    display: block;
    text-decoration: none;
    /*超链接无下划线*/
    color: black;
}

a:hover {
    /*鼠标放上去有下划线*/
    color: #418add;
}

.logo {
    width: 100px;
    height: 100px;
    
    /* background: rgba(255, 0, 0, 0); */
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s, transform 2s;
}

.logo:hover {
    width: 100px;
    height: 100px;
    
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
